<!DOCTYPE html>
<html>
    <head>
        <title>EdTab Authorization</title>
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha384-VC7EHu0lDzZyFfmjTPJq+DFyIn8TUGAJbEtpXquazFVr00Q/OOx//RjiZ9yU9+9m" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>
        <div class="columns is-centered">
            <div class="column is-half">
                <section class="section has-text-centered">
                    <p class="subtitle is-5">
                        You can go to the Virtual Reality Trainer and complete the assignment
                    </p>
                </section>
            </div>
        </div>
    </body>
</html>
